body {
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
  ),
  url("../resources/wood_background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  width: 100%;
  border-style: solid;
  border-width: 10px;
  border-radius: 10%;
  margin-top: 5%;
  padding: 10% 10% 10% 10%;
  background-color: #8fb9b9;
  color: #444;
  text-align: center;
}

.colButton {
  background-color: #d9ffff;
  color: transparent;
  border-radius: 25%;
  text-align: center;
  height: 50px;
  width: 25%;
}

#onePlayer{
  background-color: #8fb9b9 !important;
}
#twoPlayer  {
  background-color: #8fb9b9 !important;
}
.row {
  max-width: 100%;
}
body {
  min-height: 100%;
  min-width: 100%;
}

.top-btns {
  padding-top: 15%;
  min-height: 97vh;
}

html {
  height: 100%;
}
footer {
  background-color: black;
}

p {
  margin: 0 0 0;
}

